.site-footer {
  padding: 5rem 0;
  //   background-color: black;
  background-color: var(--VeryLightGray);
  position: relative;
  overflow: hidden;
  .pattern-footer {
    background-image: url("../images/bg-pattern-footer-mobile.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 20rem;
    width: 25rem;
  }
  .social-foot {
    padding: 2rem;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 3;
    .logo-footer {
      img {
        width: 10rem;
        margin: 0 auto 2rem auto;
      }
    }
    .social-media {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        margin-right: 2rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .column-footer {
    padding: 1rem 0;
    text-align: center;
    .title {
      font-size: 1.2rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
      color: rgba(0, 0, 0, 0.3);
    }
    ul {
      padding: 0;
      list-style: none;
      li {
        font-size: 1.4rem;
        padding: 1rem 0 0 0;
        text-transform: uppercase;
      }
    }
  }
}
